.active {
    background-color: #4CAF50;
}

nav {
    background-color:#333;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}
.navbar-brand:hover:not(.active) {
    background-color: #111;
}

li a {
    color: white;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a:hover {
    color: white;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    text-align: center;
}

.col-md-8 {
    background-color: white;
}

.col-md-3 {
    background-color: white;
    float: right;
}

.connectImages {
    width: 75px;
    height: 75px;
}

.connectImages:hover {
    box-shadow: 0 1px 8px black;
}

footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 20px;
    font-size: 12px;
}

#content {
    min-height: 100%;
}

#contentInside {
    padding: 20px;
    padding-bottom: 50px;
}

html, body {
    height: 100%;
    margin: 0;
}

#inputName {
    width: 600px;
    height: 30px;
}

#inputEmail {
    width: 600px;
    height: 30px;
}

#inputMessage {
    width: 600px;
    height: 230px;
}

form {
    text-align: center;
    
}

#pMessage {
    float: left;
}

#hidden {
    text-align: center;
    font-size: 25px;
}

#catGif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}